#### CONTROL FLOW

#### conditional statements

In [1]:
print("a" == "a") # equality sign

True

In [2]:
print(5 != 3)  #not equal

True

In [3]:
print(4 > 8) # greater than

False

In [4]:
print(20 <= 20) # less or equal to

True

In [5]:
print(25 >= 100)

False

#### Logical Operators

- and
- or

In [9]:
print(2 > 5 or 10 == 10) # either of the conditions needs to be True to get overall True

True

In [10]:
print(10 > 3 or 6 < 10)

True

In [11]:
print(10 < 100 and 6 < 10)

True

In [13]:
print(10 >= 3 and 10 <= 10) # both condition must be correct to make the answer True

True

## IF and ELSE statements

In [5]:
if #condition to check:
    else:
    #condition to perform

SyntaxError: invalid syntax (2797015889.py, line 1)

In [23]:
student_complete_assignment = False

In [21]:
if student_complete_assignment == True:
    print("you are eligible to be in the next class")

you are eligible to be in the next class

In [24]:
if student_complete_assignment == True:
    print("you are eligible to be in the next class")
else:
    print("you are not eligible to be in the next class")

you are not eligible to be in the next class

In [25]:
number = 10

In [28]:
if number >= 10:
    print("That is too expensive")
else:
    print("That's cheap")

That is too expensive

In [31]:
amanda_age = 15

In [32]:
yinka_age = 15

In [35]:
if amanda_age > yinka_age:
    print("amanda is older than yinka")
elif amanda_age == yinka_age:
    print("They are of the same age")
else:
    print("yinka is older than amanda")

They are of the same age

In [37]:
print("""welcome to this movie website,
please this movie contain some abusive language,
you need to be older than 18, please parental guide is advised.""")

customer_age = input("How old are you: ")

print("checking customer age for eligibility, hold on a sec")

if customer_age >= 18:
    print("welcome, you are eligible to watch this movie")
else:
    print("please, you are to young to watch this movie")

welcome to this movie website,
please this movie contain some abusive language,
you need to be older than 18, please parental guide is advised.

How old are you:  20

checking customer age for eligibility, hold on a sec

TypeError: '>=' not supported between instances of 'str' and 'int'

In [38]:
print("""welcome to this movie website,
please this movie contain some abusive language,
you need to be older than 18, please parental guide is advised.""")

customer_age = int(input("How old are you: "))

print("checking customer age for eligibility, hold on a sec")

if customer_age >= 18:
    print("welcome, you are eligible to watch this movie")
else:
    print("please, you are to young to watch this movie")

welcome to this movie website,
please this movie contain some abusive language,
you need to be older than 18, please parental guide is advised.

How old are you:  20

checking customer age for eligibility, hold on a sec
welcome, you are eligible to watch this movie

## GUESSING GAME SYSTEM

In [6]:
import time
import random

actual_magic_number = 66

first_name = input ("what is your name: ")

user_magic_number = int(input("Please provide your magic number: "))

print(" Please Wait and see if you have the lucky number")

if user_magic_number == actual_magic_number:
    print(f"Hooray, {first_name} just won a jackpot!!!")
else:
    print(f"Oops, wrong magic number {first_name}, Try again later")

what is your name:  yinka
Please provide your magic number:  66

 Please Wait and see if you have the lucky number
Hooray, yinka just won a jackpot!!!

In [10]:
import random

In [7]:
print(random.randint(5, 8)) #this is to generate random numbers between 5 and 8

7

In [11]:
import time

In [7]:
actual_magic_number = random.randint(1, 100)

first_name = input ("what is your name:  ")

user_magic_number = int(input("Please provide your magic number: "))

print(" Please Wait and see if you have the lucky number")

time.sleep(3)

if user_magic_number == actual_magic_number:
    print(f"Congratulations {first_name}, the magic number is {actual_magic_number}, just won a jackpot!!!")
else:
    print(f"Oops, wrong magic number {first_name}, the correct magic number is {actual_magic_number}")

what is your name:   yinka
Please provide your magic number:  14

 Please Wait and see if you have the lucky number
Oops, wrong magic number yinka, the correct magic number is 88

In [1]:
name = "mayowa"

In [6]:
if name.startswith("m"):
    print("The name starts with m")
else:
    print("The name does not starts with m")

The name starts with m

In [5]:
if name[0] == "m":
    print("The name starts with m")
else:
    print("The name does not start with m")

The name starts with m

### Navigation system

In [7]:
normal_commute_time = 30

is_raining = True

is_traffic = True

## For loop

 This is a concept in python, that allows us to iterate/go-over a sequence like list, tuple, dictionary, string
and set.

In [8]:
students = ["mayowa", "amanda", "segun", "jekwu", "yinka","chinyere", "joachim"]

In [13]:
print(students[0])

mayowa

In [14]:
print(students[1])

amanda

In [11]:
for names in students:
    print(names) #the way it is listing or going to next line is called indentation

mayowa
amanda
segun
jekwu
yinka
chinyere
joachim

In [16]:
for names in students:
    print(len(names))

6
6
5
5
5
8
7

In [17]:
for names in students:
    print("how are you")

how are you
how are you
how are you
how are you
how are you
how are you
how are you

In [19]:
for number in range(1,11):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
students = ["mayowa", "amanda", "segun", "jekwu", "yinka","chinyere", "joachim"]

In [22]:
for individuals in students:
    print(f"How are you {individuals}, you are welcome")

How are you mayowa, you are welcome
How are you amanda, you are welcome
How are you segun, you are welcome
How are you jekwu, you are welcome
How are you yinka, you are welcome
How are you chinyere, you are welcome
How are you joachim, you are welcome

In [23]:
for dudes in students:
    if dudes.startswith("j"):
        print(dudes)

jekwu
joachim

In [25]:
for dudes in students:
    if dudes.startswith("j"):
        print(dudes)
    else:
        print(f" The name doesn't starts with j, this student name is {dudes}")

 The name doesn't starts with j, this student name is mayowa
 The name doesn't starts with j, this student name is amanda
 The name doesn't starts with j, this student name is segun
jekwu
 The name doesn't starts with j, this student name is yinka
 The name doesn't starts with j, this student name is chinyere
joachim

In [8]:
#using for loop and if statements to unpack dictionaries

students_bio = {"chukwu":"male", "chichi":"female", "mayowa":"male", "yinka":"female", "segun":"male", "amanda":" "}

for key, value in students_bio.items():
    if value == "female":
        print(f"{key} is a woman")
    elif value == "male":
        print(f"{key} is a man")
    else:
        print(f"{key}'s gender is not defined")

chukwu is a man
chichi is a woman
mayowa is a man
yinka is a woman
segun is a man
amanda's gender is not defined

In [9]:
# check
students_bio.items()

dict_items([('chukwu', 'male'), ('chichi', 'female'), ('mayowa', 'male'), ('yinka', 'female'), ('segun', 'male'), ('amanda', ' ')])

In [26]:
numbers = [2, 5, 8, 23, 9, 4, 7, 2, 1]

In [27]:
for n in numbers:
    if n > 10:
        print(n)

23

In [36]:
numbers = [2, 5, 8, 23, 15, 11, 10.5, 9, 4, 7, 2, 1, 10]

In [37]:
values_less_than_10 = []
values_greater_equal_than_10 = []

for numerics in numbers:
    if numerics < 10:
        values_less_than_10.append(numerics)
    else:
        values_greater_equal_than_10.append(numerics)

In [38]:
print(values_less_than_10)

[2, 5, 8, 9, 4, 7, 2, 1]

In [39]:
print(values_greater_equal_than_10)

[23, 15, 11, 10.5, 10]

#### MODULO USAGE %

In [1]:
print(33 % 2)

1

In [3]:
print(100 % 2)

0

In [9]:
numbers = [2, 5, 4, 6, 8, 7, 9, 7, 10, 5]

In [8]:
# create a list of number

numbers = [2, 5, 4, 6, 8, 7, 9, 7, 10, 5, 7.2, 47, 76]
# using for loop, if statements and the modulo opertaor to pick out the even numbers

empty_list = []

for i in numbers:
    if i % 2 == 0:
        empty_list.append(i)
        
print(empty_list)

[2, 4, 6, 8, 10, 76]

####  Create a Simple CALCULATOR

In [10]:
arithmetic_type = input("""
What arithmetic opertaion, do you want to do?
press a for Addition
press m for Multiplication
press s for Subtraction
press d for Division: """).lower()

# recieve the two numbers to be operated on
first_num = int(input("please input your first number: "))
second_num = int(input("please input your second number: "))

# use if statement to check the operator selected
if arithmetic_type == "a":
    print(first_num + second_num)
elif arithmetic_type == "m":
    print(first_num * second_num)
elif arithmetic_type == "s":
    print(first_num - second_num)
else:
    result = first_num / second_num
    if str(result).endswith(".0"):
        print(int(result))
    else:
        print(result)

What arithmetic opertaion, do you want to do?
press a for Addition
press m for Multiplication
press s for Subtraction
press d for Division:  d
please input your first number:  9
please input your second number:  4

2.25

In [12]:
# nested if statements
nums = [2, 5, 10, 14, 17, 24, 32, 22, 16, 36]
even_num = []
for i in nums:
    if i > 10:
        if i % 2 == 0:
            even_num.append(i)

print(even_num)

[14, 24, 32, 22, 16, 36]

### While loop

In [13]:
# using while loop
x = 5

while x < 10:
    x += 1
    print(x)

6
7
8
9
10

### Break, Continue

In [14]:
names = ["yinka", "mayowa", "chichi", "segun", "amanda", "chukwu"]

for i in names:
    if "a" in i:
        print(i)

yinka
mayowa
amanda

In [15]:
names = ["yinka", "mayowa", "chichi", "segun", "amanda", "chukwu"]

for i in names:
    if "a" in i:
        print(i)
        break

yinka

In [41]:
students = ["amanda", "segun", "chukwujekwu", "yinka", "joachim", "chinyere"]

In [44]:
import random

for name in students:
    print(f"{name} belong to group {random.randint(1,2)}")

amanda belong to group 1
segun belong to group 1
chukwujekwu belong to group 1
yinka belong to group 2
joachim belong to group 2
chinyere belong to group 2